body {
    width: 100vw; height: 100vh;
    background-color: white;
}

.App {
    width: 100vw;
}

input {
    font-size: 2vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw;

    // nav {
    //     display: flex;
    //     align-items: center;
    // }

    input {
        margin: 0 1vw;
    }
}

h1, h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    height: 90vh;
}
