main.home {
    margin: 2vh 4vw 2vh 10vw;
}

.body {
    width: 70%;
}

iframe {
    width: 100%;
    height: 58%;
    border: 0;
    margin-bottom: 5vh;
}

article {
    padding: 0 4vw;
}

.sidebar {
    width: 30%;
    box-sizing: border-box;
    padding: 0 3vw;
    text-align: center;

    .error {
        color: red;
        font-size: 2vh;
        font-weight: bold;
    }

    form {
        display: flex;
        justify-content: space-between;
        margin: 4vh 0;

        button {
            width: 45%;
        }
    }

    form.signin {
        flex-direction: column;

        button {
            width: 100%;
        }
    }

    input {
        margin-bottom: 2vh;
    }
}

.leaderboard {
    nav {
        display: flex;

        button {
            width: 50%;
        }
    }

    ol {
        padding: 1vh 2vw;

        li {
            display: flex;
            justify-content: space-between;
        }
    }
}
